# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.


#{
#  servers {
#    protocols h1 h2c
#  }
#}


#:80 {
#  reverse_proxy / http://origin:80 
#}


https://www.kongqing.xyz {
  log { 
    output stdout 
    format json 
    level DEBUG 
  }
  tls /etc/caddy/cert.pem /etc/caddy/key.pem
  reverse_proxy / http://origin:80
}
